h1 {
    font-size: 45px;
    color: red;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(99, 84, 84);
}
img {
    width: 300px; /* Cambia el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Hace que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
